.about {
    @include marginGlobal(3em, 3em);
    @include fontMensuration($primary-font, 500, null, $primary-color);
    min-height: 100vh;
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media all and (min-width: 320px) and (max-width: 425px) {
        @include marginGlobal(1em, 1em);
        &__main {
            
            &-container {
                width: 100%;
                margin: 0;
                margin-bottom: 1em;
            }
        }
    }
}