$primary-color: #FF6060;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
$cardBackground: #F6F6F6;
$cardEtoile: #E3E3E3;
$profil: #C4C4C4;

$primary-font: 'Montserrat', sans-serif;