.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    // background-color: yellow;
    margin-left: 3em;
    margin-right: 3em;
    &__nav {
        display: flex; 
        justify-content: space-between;
        width: 10em;
        font-size: 1.5em;
        // background-color: red;
        color: $primary-color
    }
}