.homepage {
    margin-left: 3em;
    margin-right: 3em;
    &__figure {
        background-color: aqua;
        width: 100%;
        height: 13em;
        &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1em 1em;
        margin-top: 2em;
        }
    }
    &__main {
        background-color: $cardBackground;
        margin-top: 3em;
        padding: 2em;
        border-radius: 1em;
        // width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-container {
            width: 30%;
            height: 80%;
            margin: 1em;
            &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1em 1em;
            }
        }
    }
}